<!-- lecturers.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lecturers List</title>
</head>
<body>
  <h1>Lecturers List</h1>
  <table>
    <thead>
      <tr>
        <th>Lecturer ID</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% lecturers.forEach(lecturer => { %>
        <tr>
          <td><%= lecturer.lecturerId %></td>
          <td><%= lecturer.name %></td>
          <td><a href="/lecturers/delete/<%= lecturer._id %>">Delete</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/">Back to Home</a>
</body>
</html>
